apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "dummy-fastapi.fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: dummy-fastapi.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "dummy-fastapi.fullname" . }}-svc
                port:
                  number: 8080
